.home-page1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fdfdfd;
  height: 100vh;
}

header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: space-around; */
  font-size: 1.5rem;
}

.home-section1 {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  /* position: absolute; */
}

.home-section1 > .home-heading {
  font-size: 55px;
  font-weight: 700;
}

.home-section1 > h3 {
  font-size: 40px;
}
.home-section1 > p {
  font-size: 18px;
}

.home-section1 > .getStarted > button {
  color: white;
  background-color: #ff7647;
  font-size: 18px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.getStarted > button:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  color: #ff7647;
  border: 1px solid #ff7647;
}

.home-section2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section2 > img {
  width: calc(531px * 1.5);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.home-page2 > p {
  font-size: 1.5rem;
}

.home-page2 > .heading {
  font-size: 4rem;
  font-weight: 700;
  padding: 15px;
  border-bottom: 4px solid white;
}

.section4 > .heading {
  font-size: 4rem;
  font-weight: 700;
  padding: 15px;
}

.section4 > p {
  padding: 15px;
  font-size: 1.5rem;
}

.getStarted2 > button {
  content: "\f054";
  /* background-color: white; */
  color: #ff7647;
  border: none;
  outline: none;
  margin: 1rem;
  padding: 30px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}

.getStarted2 {
  align-self: flex-end;
}

.socialMedia-Me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 1rem;
}

.socialMedia-Me > .socialMedia {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.socialMedia > a {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.4rem;
}
/* Media Queries */

@media (max-width: 850px) {
  .home-section2 > img {
    display: none;
  }
}

@media (max-width: 420px) {
  .home-page1 {
    height: 85vh;
  }
  .home-section2,
  .section3 {
    display: none;
  }

  .home-section1 > h3 {
    font-size: 1.3em;
  }

  header {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 0;
  }
  .home-section1 > .home-heading {
    font-size: 2.5rem;
  }
  .home-page2 {
    padding: 20px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .home-page2 > .heading,
  .section4 > .heading {
    font-size: 2.5rem;
  }

  .home-section1 > p {
    font-size: 1rem;
  }

  footer > .block {
    font-size: 1rem;
    flex-direction: column;
  }

  .getStarted2 > button {
    content: "\f054";
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
