.login2-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.login2-sec1 {
  width: 564px;
  height: 503px;
  flex-shrink: 0;
}

.login2-sec1 > img {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login2-formbox {
  display: inline-flex;
  padding: 82px 130.313px 103px 52px;
  align-items: center;
  border-radius: 20px;
  background: #fdfdfd;
  box-shadow: 3px 7px 4px 4px rgba(0, 0, 0, 0.25);
}

.login2-formbox > form {
  width: 520.687px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  height: 387px;
}

.login2-formbox > form > h1 {
  color: #000;
  /* font-family: Inter; */
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 21px;
}

.formbox-label {
  display: flex;
  flex-direction: column;
}

.formbox-label > input {
  background: transparent;
  border: none;
  /* border-bottom: 1px solid black; */
  outline: none;
  padding: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

.formSubmit > input {
  border-radius: 20px;
  background: #639c63;
  border-radius: 20px;
  background: #639c63;
  color: white;
  border: none;
  outline: none;
  width: 25%;
  padding: 8px;
  margin-top: 20px;
}

/* Media queries */
@media (max-width: 830px) {
  .login2-sec1 {
    display: none;
  }
  .login2-sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login2-sec2 > .login2-formbox {
    width: 95%;
  }
}

/* Media queries */
@media (max-width: 450px) {
  .login2-container {
    height: 80vh;
  }

  .login2-sec2 {
    width: 90%;
    height: 100%;
  }

  .login2-sec2 > .login2-formbox {
    width: 100%;
    display: flex;
    /* width: 260px; */
    height: 400px;
    padding: 24px 10.5px 24.5px 11px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .login2-formbox > form {
    width: 217px;
    flex-shrink: 0;
    font-size: 12px;
  }

  .login2-formbox > form > h1 {
    font-size: 26px;
  }

  .formbox-label {
    width: 175.482px;
    height: 40.509px;
    flex-shrink: 0;
  }

  .formSubmit > input {
    width: 100%;
    margin-top: 5px;
  }

  .formbox-label > input {
    width: 100%;
  }
}
